.card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 40px;
  width: 100%;
  margin: 0 auto;
}

.dashbord__card {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
}
.dashbord__card:hover {
  z-index: 999;
  -webkit-transform: translateY(-4px) scale(1.02);
  -moz-transform: translateY(-4px) scale(1.02);
  -ms-transform: translateY(-4px) scale(1.02);
  -o-transform: translateY(-4px) scale(1.02);
  transform: translateY(-4px) scale(1.02);
  -webkit-box-shadow: 0 14px 24px rgb(62 57 107 / 20%);
  box-shadow: 0 14px 24px rgb(62 57 107 / 20%);
}

.dashbord__card .dashbord_heading p {
  /* position: absolute; */
  font-size: 19px;
  font-weight: 500;
  /* margin-right: 19px; */
}
.dashbord__card .dashbord_heading i.la-calculator:before {
  content: "\f15b";
}

.card1 {
  background: linear-gradient(
    135deg,
    rgb(19, 241, 252) 0%,
    rgb(4, 112, 220) 100%
  );
}
.card2 {
  background: linear-gradient(
    135deg,
    rgb(242, 140, 15) 0%,
    rgb(242, 49, 15) 100%
  );
}
.card3 {
  background: linear-gradient(
    135deg,
    rgb(243, 98, 101) 0%,
    rgb(150, 18, 118) 100%
  );
}
.card4 {
  cursor: pointer;
  background: linear-gradient(
    135deg,
    rgb(240, 11, 11) 0%,
    rgb(231, 101, 101) 100%
  );
}

.card__value {
  font-weight: 600;
  font-size: 2.4rem;
}

.dashboard__select__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  grid-row-gap: 10px;
  row-gap: 10px;
  width: 30%;
  margin: 0 auto;
}

.dashboard__calculation {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  column-gap: 20px;
  margin-top: 30px;
}
.calculation__card1 {
  border: 1px solid rgb(114, 113, 113);
  border-radius: 5px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1rem;
  column-gap: 10px;
  row-gap: 5px;
  background: white;
}
.ble_gsp img {
  width: 100%;

}
.trackingHead h1 {
  text-align: center;
  text-transform: uppercase;
  color: #c01664;
  font-size: 28px;
  font-weight: 700;
}

.trackingHead {
  /* background-color: #f4f5fa ; */
  padding: 17px 0;
}
.card__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
  grid-column-gap: 40px;
  grid-column-gap: 40px;
  column-gap: 5px;
  width: 30%;
  margin: 0 auto;
  position: absolute;
  left: 67%;
  top: 130%;
}
.hall {
  width: 90px;
    transform: translate(420%,744%);
    /* background-color: #ffffffed; */
    /* border-radius: 5px; */
  /* position: absolute; */
  /* right: 58%; */
  /* top: 1px; */
}
.hall h3 {
  font-size: 15px;
    font-weight: 700;
    transform: translate(-62px, 349px);
    font-weight: 700;
    color: #f20101;
    background-color: #f0f8ffd9;
    width: 114px;
    padding: 0px 5px;
 
}
.kitchen h3 {
  font-size: 15px;
  font-weight: 700;
  transform: translate(143px, 590px);
  font-weight: 700;
  color: #f20101;
  background-color: #f5f5f5;
  width: 119px;
  height: 7vh;
  padding: 0px 7px;
   
}
.meethall h3 {
  font-size: 15px;
  font-weight: 700;
  transform: translate(273px, 724px);
  color: #f20101;
  background-color: #f5f5f5;
  width: 114px;
  height: 50px;
  padding: 5px 6px;
  /* text-transform: uppercase; */
}
.cabin1 h3 {
  font-size: 15px;
  font-weight: 700;
  transform: translate(786px, 644px);
  color: #f20101;
  background-color: #f5f5f5;
  width: 135px;
  height: 50px;
  padding: 5px 6px;
  
}
.cabin2 h3 {
  font-size: 15px;
  font-weight: 700;
  transform: translate(-3px, 4px);
  color: #f20101;
  background-color: #f5f5f5;
  width: 123px;
  height: 50px;
  padding: 5px 6px;
  /* text-transform: uppercase; */
}
.cabin3 h3 {
  font-size: 15px;
  font-weight: 700;
  transform: translate(-3px, 4px);
  color: #f20101;
  background-color: #f5f5f5;
  width: 114px;
  height: 50px;
  padding: 5px 6px;
  /* text-transform: uppercase; */
}
.dashbord_tag h5 {
  font-size: 15px;
  font-weight: 800;
  margin: -20px 0px;
  color: #0300e3;
  /* background-color: #f5f5f59e; */
  /* padding: 3px 4px; */
}
span.tag_value {
  padding: 0 13px;
}
h4.gatewayHead {
  font-size: 14px;
  color: #9f0505;
  font-weight: 700;
  text-align: left;
}

  .dashbord_tag {
    height: 48px;
    padding: 0 0;
    text-align: center;
    color: #211d1d;
    width: 131px;
}
.tagno h3 {
  position: absolute;
  top: 132%;
  right: 31%;
  font-size: 19px;
  padding: 6px 3px;
}
.tagno h4 {
  position: absolute;
    top: 132%;
    right: 21%;
    font-size: 19px;
    padding: 6px 3px;
}
.tagno h6 {
  position: absolute;
  top: 132%;
  right: 11%;
  font-size: 19px;
  padding: 6px 3px;
}
.tagtotalno h3 {
  position: absolute;
  top: 89%;
  right: 33%;
  font-size: 43px;
  font-weight: 700;
  padding: 6px 3px;
}
.tagtotalno h4 {
  position: absolute;
    top: 74%;
    right: 49%;
    font-size: 43px;
    font-weight: 700;
    padding: 6px 3px;
}
.tagtotalno h6 {
  position: absolute;
  top: 98%;
  right: 56%;
  font-size: 43px;
  font-weight: 700;
  padding: 6px 3px;
}
#locations {
  display: inline-block;
  display: inline;
}

li {
  /* padding: 5px; */
  display: inline-block;
  margin: 20px;
}
.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon {
  width: 3rem;
  height: 3rem;
}
i.fa.fa-map-marker.fa-lg {
  font-size: 25px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  height: auto;
}
span.h2.font-weight-bold.mb-0 {
  color: #7747d4;
}
.font-weight-bold {
  font-weight: 700 !important;
  color: #f50c0c;
}
.text-muted {
  color: #000000 !important;
  font-size: 14px;
  font-weight: 700;
  padding: 21px 0px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
  box-shadow: 0 14px 24px rgb(62 57 107 / 20%);
}
.text-white {
  color: #fff !important;
}
.icon {
    width: 3rem;
    height: 3rem;
}
.icon-shape i, .icon-shape svg {
  font-size: 1.25rem;
}
.text-white {
    color: #fff !important;
}
.shadow, .card-profile-image img {
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
.bg-danger {
  background-color: #f5365c !important;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.bg-warning {
  background-color: #fb6340 !important;
}
.bg-red {
  background-color: #6c37bc !important;
}
.bg-pink {
  background-color: #de096b !important;
}
.bg-green {
  background-color: #13c858 !important;
}
.bg-orange {
  background-color: #e16b0f !important;
}
.font-weight-bold {
  font-weight: 700 !important;
  color: #7747d4;
  font-size: 22px;
}
.font-weight-bold1 {
  font-weight: 700 !important;
  color: #6c37bc;
}
text.highcharts-title {
  font-weight: 700;
}
text.highcharts-axis-title {
  font-size: 14px;
  font-weight: 600;
}
.non_working {
  background-color: white;
    height: 21vh;
    padding: 30px 4px;
}
.non_working input.form-control {
  margin: 15px 0;
}
/* @media (max-width: 992px) {
  .card__wrapper {
    column-gap: 15px;
    width: 100%;
}
.dashboard__select__wrapper {
  width: 70%;
}


.hall h3 {
  font-size: 12px;
  font-weight: 700;
  transform: translate(-285px, 143px);
  font-weight: 700;
  color: #f20101;
  background-color: #f0f8ffd9;
  width: 49px;
  padding: 0px 5px;
}
.dashbord_tag:nth-child(3n+2) {
  padding: 3px 7px;
    text-align: center;
    color: #211d1d;
    position: absolute;
    left: -115%;
    top: 697%;
    width: 62px;
   
    font-size: -2px;
}
.dashbord_tag h5 {
  font-size: 9px;
  font-weight: 800;
  padding: 4px 2px;
  color: #0300e3;
  background-color: #f0f8ffd9;
  
}
.kitchen h3 {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: -73%;
    top: 142%;

  font-weight: 700;
  color: #f20101;
  background-color: #f0f8ffd9;
  width: 62px;
  padding: 3px 6px;
}
.dashbord_tag:nth-child(3n+3) {
  width: 60px;
  text-align: center;
  color: #211d1d;
  font-size: 14px;
  transform: translate(-151%, 538%);
}
.meethall h3 {
  font-size: 12px;
  font-weight: 700;
  transform: translate(194px, 194px);
  color: #f20101;
  background-color: #f0f8ffd9;
  width: 68px;
  padding: 5px 6px;

}

}



} */
@media screen and (max-width: 767px) {
  .card__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .dashbord__card {
    padding: 10px;
  }
  .dashboard__select__wrapper {
    width: 100%;
}
.dashboard__calculation {
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}
}
@media screen and (max-width: 520px) {
 
    .card__value {
      font-weight: 600;
      font-size: 1.9rem;
    }
  
    .fa {
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 14px;
    }
.dashboard__select__wrapper {
  grid-template-columns: 1fr;
}
.calculation__card1 h2 {
  font-size: 20px;
}
.calculation__card1 b {
  font-size: 16px;
  font-weight: 600;
}
.payload__select {
  width: 100%;
  color: black;
}
}
text.highcharts-credits {
  display: none !important;
}